<% @page_title = "予約申請一覧" %>

<div class="container">

<div class="main-title">
  <div class="fas fa-calendar-plus size"><%= @page_title %></div>
</div>

<%= link_to '新規依頼する', new_request_path, class: 'btn btn-primary' %>

<div class="text-right">
<!--検索-->
<%= render "member/searches/form" %>
<!--検索-->
</div>

<br>

<% if @requests.count > 0 %>
<%= render "body", requests: @requests %>

<% else %>
<h2>現在、予約申請はありません</h2>
<% end %>

<%= paginate @requests %>

</div>
