<table class="table table-bordered">
<thead>
 <tr>
  <th class="Menu">予約ID</th>
  <th class="Menu">責任者</th>
  <th class="Menu">開始時刻</th>
  <th class="Menu">終了時刻</th>
  <th class="Menu">作業画像</th>
  <th class="Menu">作業内容</th>
 </tr>
</thead>

<tbody>
 <tr>
  <td><%= request.id %></td>
  <td><%= request.chief_name %></td>
  <% if request.report.present? %>
  <td><%= request.report.in_at %></td>
  <td><%= request.report.out_at %></td>
  <% else %>
  <td></td>
  <td></td>
  <% end %>
  <td><%= attachment_image_tag @report, :image, :fill, 100, 100, format: 'jpeg' %></td>
  <td><%= report.body %></td>
 </tr>
</tbody>
</table>
