<% @page_title = "チャットページ" %>

<div class="container">

<h2><%= @page_title %></h2>

<% if member_signed_in? %>
  <h3><%#= @admin.email %>管理者とのチャットルーム</h3>
    <% @messages.each do |f| %>
      <!-- メッセージがMemberによるものだったら -->
      <% if f.is_member %>
        <!-- メッセージを右に寄せる -->
        <div class="text-right">
          <h4><%= f.content %></h4>
        </div>
        <br>
      <!-- メッセージがAdminによるものだったら -->
      <% else %>
        <!-- メッセージを左に寄せる -->
        <div class="text-left">
          <p>管理者</p>
          <h4><%= f.content %></h4>
        </div>
        <br>
      <% end %>
    <% end %>
<% elsif admin_signed_in?%>
  <h3><%= @member.full_name %>さんとのチャットルーム</h3>
  <div class="chat-field">
    <% @messages.each do |f| %>
      <!-- メッセージがMemberによるものだったら -->
      <% if f.is_member %>
        <!-- メッセージを左に寄せる -->
        <div class="text-left">
          <p>会員：<%= @member.full_name %></p>
          <h4><%= f.content %></h4>
        </div>
        <br>
      <!-- メッセージがAdminによるものだったら -->
      <% else %>
        <!-- メッセージを右に寄せる -->
        <div class="text-right">
          <h4><%= f.content %></h4>
        </div>
        <br>
      <% end %>
    <% end %>
  </div>
<% end %>

<%= form_with(model:[@room, @message], local: true)  do |f| %>
  <div class="text-center">
  <%= f.text_field :content %>
  <%= f.submit :送信 %>
  </div>
<% end %>

<br>

</div>
