<% @page_title = "会員編集" %>

<div class="container">

<div class="main-title">
  <div class="fas fa-edit size"><%= @page_title %></div>
</div>

<div class="text-center">

<%= render "layouts/error_messages", model: @member %>

<%= form_with :model => @member, url:member_path, method: :patch, local: true  do |f| %>

<div class="field row">
  <%= f.label :name %><br />
  <%= f.text_field :last_name, :placeholder => "姓" %>
  <%= f.text_field :first_name, :placeholder => "名" %>
</div>

<div class="field row">
  <%= f.label :hurigana %><br />
  <%= f.text_field :last_name_kana, :placeholder => "セイ" %>
  <%= f.text_field :first_name_kana, :placeholder => "メイ" %>
</div>

<div class="field row">
  <%= f.label :company_name %><br />
  <%= f.text_field :company_name, :placeholder => "会社名" %>
</div>

<div class="field row">
  <%= f.label :email %><br />
  <%= f.email_field :email, :placeholder => "メールアドレス" %>
</div>

<div class="actions row"><br />
<div class="col-xs-12">
  <%= f.submit :更新, class: "btn btn-success" %>
</div>
</div>
<% end %>

<br>

<%= button_to 'パスワード変更', edit_member_registration_path(@member), class: 'btn-sm btn-warning', method: :get %>

</div>
</div>