<% @page_title = "会員マイページ" %>

<div class="container">

<div class="main-title">
  <div class="fas fa-user size"><%= @page_title %></div>
</div>


<div class="main-body">
<div class="col-xs-4">
<h4>会員情報</h4>

<table class="table table-hover table-inverse">
  <tr>
    <th>会員ID</th>
    <td><%= @member.id %></td>
  </tr>

  <tr>
    <th>氏名</th>
    <td><%= @member.full_name_kana %><br>
        <%= @member.full_name %>
    </td>
  </tr>

  <tr>
    <th>メールアドレス</th>
    <td><%= @member.email %></td>
  </tr>

  <tr>
    <th>会社名</th>
    <td><%= @member.company_name %></td>
  </tr>

</table>

  <%= button_to '編集', edit_member_path(@member), class: 'btn-sm btn-primary', method: :get %>


<h4>申請状況</h4>
<table class="table table-hover table-inverse">
  <tr>
    <th>対応中</th>
    <td><%= @requests.where(approval_status: 0).count %></td>
  </tr>

  <tr>
    <th>承認</th>
    <td><%= @requests.where(approval_status: 1).count %><br>
    </td>
  </tr>

  <tr>
    <th>否認</th>
    <td><%= @requests.where(approval_status: 2).count %></td>
  </tr>

  <tr>
    <th>終了</th>
    <td><%= @requests.where(approval_status: 3).count %></td>
  </tr>

</table>
</div>

<div class="col-xs-8">
<%#= render "requests/body", requests: @requests %>
<div>
</div>