<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/<%= ENV['KIT_CODE'] %>.js" crossorigin="anonymous"></script>
  </head>

  <body>

    <header>
      <div class="header-container clearfix">

      <!--管理者がログイン-->
      <% if admin_signed_in? %>
        <%= link_to admin_root_path do %>
        <h1>Worker</h1>
      <% end %>
      <!--管理者がログイン-->

      <!--会員がログイン-->
      <% elsif member_signed_in? %>
        <%= link_to root_path do %>
        <h1>Worker</h1>
        <% end %>
        <p>ログイン：<%= current_member.last_name %>さん</p>

      <!--会員がログイン-->

      <!--ゲスト-->
      <% else %>
        <%= link_to root_path do %>
        <h1>Worker</h1>
        <% end %>
      <!--ゲスト-->

      <% end %>

      </div>
    </header>
    <nav>
      <%= render "layouts/header" %>
    </nav>

    <main>
    <div class="main clearfix">
      <%= yield %>
    </div>
    </main>

    <footer>
    <div class="footer-container clearfix">
      <%= render "layouts/footer" %>
    </div>
    </footer>


  </body>
</html>
