<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <div class="header-container clearfix">
      <%= render "layouts/header" %>
      </div>
    </header>

    <main>
    <div class="main clearfix">
      <%= yield %>
    </div>
    </main>

    <footer>
    <div class="footer-container clearfix">
      <%= render "layouts/footer" %>
    </div>
    </footer>


  </body>
</html>
